.uxf-pagination {
    @apply isolate inline-flex rounded-md -space-x-px;

    &__button {
        @apply relative inline-flex items-center border border-gray-300 bg-white px-4 py-2
            text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-10 cursor-pointer h-10;

        &.is-selected {
            @apply z-10 bg-indigo-50 border border-primary-500 text-primary-600;
        }

        &.is-first {
            @apply rounded-l-md;
        }

        &.is-last {
            @apply rounded-r-md;
        }

        &.is-disabled {
            @apply text-neutral-300 hover:bg-white cursor-not-allowed;
        }

        &.is-ellipsis {
            @apply text-neutral-300 hover:bg-white pointer-events-none;
        }
    }
}
