.uxf-component-structure-analyzer {
    padding-bottom: 32px;

    * {
        padding: 32px !important;
        border: 2px solid black !important;
        position: relative !important;
        color: lightgray !important;
        background-color: white !important;
        border-radius: initial !important;
        margin: 4px !important;
        font-family: monospace;
        font-size: 12px;
        min-width: 200px;
        height: auto !important;
        top: initial !important;
        left: initial !important;
        right: initial !important;

        &::before {
            position: absolute;
            left: 4px;
            top: 2px;
            content: attr(class);
            font-size: 12px;
            line-height: 14px;
            color: black;
            font-weight: 500;
        }
    }
}
