.uxf-text-link {
    @apply underline transition outline-none relative before:absolute before:-inset-1
        focus-visible:before:border-2 focus-visible:before:rounded-lg;

    :root .light & {
        @apply text-primary-500 is-hoverable:text-primary-400 focus-visible:before:border-primary-500;
    }

    :root .dark & {
        @apply text-primary-500 is-hoverable:text-primary-400 focus-visible:before:border-primary-500;
    }
}
