.uxf-list-item {
    @apply flex justify-between grow py-4 px-5 min-h-[64px] space-x-3 transition-opacity is-hoverable:opacity-75
        outline-none relative before:absolute before:inset-0 before:rounded-lg focus-visible:before:border-2;

    &__inner {
        @apply w-full;
    }

    &__end-elements-wrapper,
    &__end-icon-wrapper {
        @apply shrink-0;
    }

    :root .light & {
        @apply focus-visible:before:border-primary-500;

        .uxf-list-item__end-icon-wrapper {
            @apply text-gray-300;
        }
    }

    :root .dark & {
        @apply focus-visible:before:border-primary-500;

        .uxf-list-item__end-icon-wrapper {
            @apply text-gray-600;
        }
    }
}
