.uxf-input {
    @apply rounded-lg text-base;

    :root .light & {
        @apply bg-gray-100 text-gray-900;
    }

    :root .dark & {
        @apply bg-gray-800 text-gray-300;
    }

    &__element {
        @apply bg-transparent outline-none;

        :root .light & {
            @apply placeholder:text-gray-400;
        }

        :root .dark & {
            @apply placeholder:text-gray-400;
        }
    }

    &__left-element {
        @apply mr-2;
    }

    &__right-element {
        @apply ml-2;
    }

    &__left-addon,
    &__right-addon {
        @apply border px-2;

        :root .light & {
            @apply border-gray-200;
        }

        :root .dark & {
            @apply border-gray-700;
        }
    }

    &__left-addon {
        @apply rounded-l-lg border-r-0;
    }

    &__right-addon {
        @apply rounded-r-lg border-l-0;
    }

    &__wrapper {
        @apply rounded-lg border px-4 text-base;

        :root .light & {
            @apply border-gray-200;
        }

        :root .dark & {
            @apply border-gray-700;
        }
    }

    &--size-default {
        .uxf-input__wrapper {
            @apply h-12;
        }
    }

    &--size-large {
        .uxf-input__wrapper {
            @apply h-14 text-lg;
        }
    }

    &--has-right-addon {
        .uxf-input__wrapper {
            @apply rounded-r-none;
        }
    }

    &--has-left-addon {
        .uxf-input__wrapper {
            @apply rounded-l-none;
        }
    }

    &.is-focused {
        .uxf-input__wrapper {
            @apply ring-1 ring-inset ring-offset-0;

            :root .light & {
                @apply border-primary-500 ring-primary-500;
            }

            :root .dark & {
                @apply border-primary-500 ring-primary-500;
            }
        }
    }

    &.is-disabled {
        @apply cursor-not-allowed;

        :root .light & {
            @apply bg-gray-300;
        }

        :root .dark & {
            @apply bg-gray-600;
        }

        .uxf-input__element {
            @apply cursor-not-allowed;
        }
    }

    &.is-readonly {
        @apply cursor-text;

        .uxf-input__element {
            @apply cursor-text;
        }

        .uxf-input__wrapper {
            @apply ring-0;
        }

        .uxf-input__wrapper,
        .uxf-input__left-addon,
        .uxf-input__right-addon {
            :root .light & {
                @apply border-gray-300;
            }

            :root .dark & {
                @apply border-gray-500;
            }
        }
    }

    &.is-invalid {
        &.is-focused {
            .uxf-input__wrapper {
                :root .light & {
                    @apply ring-error-500 border-error-500;
                }

                :root .dark & {
                    @apply ring-error-500 border-error-500;
                }
            }
        }

        .uxf-input__wrapper {
            @apply border-error-500 placeholder:text-error-300;

            .uxf-input__left-element,
            .uxf-input__right-element {
                @apply text-error-500;
            }

            .uxf-input__element {
                :root .light & {
                    @apply border-gray-300 text-error-500;
                }

                :root .dark & {
                    @apply border-gray-500 text-error-500;
                }
            }
        }
    }

    input:-webkit-autofill {
        &,
        &:hover,
        &:focus {
            margin: 1px 0;

            :root .dark & {
                -webkit-box-shadow: inset 0 0 0 1000px theme("colors.gray.800");
                caret-color: white;
                -webkit-text-fill-color: theme("colors.gray.300");
            }

            :root .light & {
                -webkit-box-shadow: inset 0 0 0 1000px theme("colors.gray.100");
            }
        }
    }
}
