.uxf-input {
    @apply flex flex-row;
}

.uxf-input__wrapper {
    @apply flex w-full flex-row;
}

.uxf-input__element {
    @apply w-full;
}

.uxf-input__left-element,
.uxf-input__right-element,
.uxf-input__left-addon,
.uxf-input__right-addon {
    @apply flex flex-row items-center whitespace-nowrap;
}
