.uxf-color-radio {
    @apply shrink-0 inline-flex items-center justify-center rounded-full h-7 w-7 bg-[color:var(--bg-color)];

    &__label {
        @apply sr-only;
    }

    &__icon {
        @apply w-4 h-4 text-white opacity-0 transition-opacity;
    }

    &__icon--dark {
        @apply text-gray-900;
    }

    &.is-selected {
        .uxf-color-radio__icon {
            @apply opacity-100;
        }
    }
}
