.uxf-color-radio-group {
    &__option {
        @apply rounded-full outline-none focus-visible:ring-offset-2 focus-visible:ring-2;

        :root .light & {
            @apply focus-visible:ring-[color:var(--option-color)] focus-visible:ring-offset-white;
        }

        :root .dark & {
            @apply focus-visible:ring-[color:var(--option-color)] focus-visible:ring-offset-gray-900;
        }
    }

    &__label {
        @apply mb-2;
    }

    &__options-wrapper {
        @apply flex flex-wrap gap-3.5;
    }
}
