@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.uxf-button {
    @apply inline-flex items-center justify-center rounded-md font-medium shadow-sm
        focus:outline-none focus:ring-2 focus:ring-offset-2 transition-colors;

    .uxf-icon {
        @apply h-6;
    }

    &__text {
        @apply truncate;
    }

    &--full-width {
        @apply w-full flex flex-row justify-center;
    }

    &.is-disabled {
        @apply pointer-events-none;
    }

    &.uxf-button--icon-button.is-loading {
        &::after {
            @apply ml-0;
        }
    }

    &.is-loading {
        @apply pointer-events-none;

        &::after {
            animation: spinner 0.8s linear infinite;
            border-radius: 50%;
            border-right: 2px solid transparent;
            border-top: 2px solid;
            content: "";
            height: 20px;
            margin-left: 8px;
            width: 20px;
        }

        &.uxf-button--icon-button::after {
            margin-left: 0;
        }

        .uxf-icon {
            @apply hidden;
        }
    }

    &--size-xs {
        height: theme("inputSize.xs");

        @apply px-2.5 text-xs rounded;

        &.is-loading::after {
            height: 14px;
            width: 14px;
        }

        &.uxf-button--icon-button {
            width: theme("inputSize.xs");

            @apply p-0;
        }

        .uxf-icon {
            @apply h-4 w-4;
        }
    }

    &--size-sm {
        height: theme("inputSize.sm");

        @apply px-3 text-sm leading-4;

        &.is-loading::after {
            height: 16px;
            width: 16px;
        }

        &.uxf-button--icon-button {
            width: theme("inputSize.sm");

            @apply p-0;
        }

        .uxf-icon {
            @apply h-4 w-4;
        }
    }

    &--size-default {
        height: theme("inputSize.default");

        @apply px-4 text-sm;

        &.uxf-button--icon-button {
            width: theme("inputSize.default");

            @apply p-0;
        }
    }

    &--size-lg {
        height: theme("inputSize.lg");

        @apply px-4 text-base;

        &.uxf-button--icon-button {
            width: theme("inputSize.lg");

            @apply p-0;
        }
    }

    &--size-xl {
        height: theme("inputSize.xl");

        @apply px-6 text-base;

        &.uxf-button--icon-button {
            width: theme("inputSize.xl");

            @apply p-0;
        }
    }

    &--variant-outlined {
        @apply border bg-white;

        &.uxf-button--color-default {
            @apply text-primary-600 border-primary-500 hover:bg-primary-50;
        }

        &.uxf-button--color-success {
            @apply text-success-600 border-success-500 hover:bg-success-50;
        }

        &.uxf-button--color-error {
            @apply text-error-600 border-error-500 hover:bg-error-50;
        }

        &.is-disabled {
            @apply border-gray-300 text-gray-400;
        }
    }

    &--variant-default {
        @apply text-white;

        &.uxf-button--color-default {
            @apply text-white bg-primary-500 is-hoverable:bg-primary-400 focus-visible:ring-primary-500;

            &.is-disabled {
                @apply bg-gray-100 text-gray-400;
            }
        }

        &.uxf-button--color-success {
            @apply text-white bg-success-500 is-hoverable:bg-success-400 focus-visible:ring-success-500;

            &.is-disabled {
                @apply bg-gray-100 text-gray-400;
            }
        }

        &.uxf-button--color-error {
            @apply text-white bg-error-500 is-hoverable:bg-error-400 focus-visible:ring-error-500;

            &.is-disabled {
                @apply bg-gray-100 text-gray-400;
            }
        }
    }

    &--variant-white {
        @apply border border-gray-300 bg-white hover:bg-gray-50;

        &.uxf-button--color-default {
            @apply text-primary-600;
        }

        &.uxf-button--color-success {
            @apply text-success-600;
        }

        &.uxf-button--color-error {
            @apply text-error-600;
        }

        &.is-disabled {
            @apply border-gray-300 text-gray-400;
        }
    }

    &--variant-text {
        @apply shadow-none;

        &.uxf-button--color-default {
            @apply text-primary-600 hover:text-primary-800;
        }

        &.uxf-button--color-success {
            @apply text-success-600 hover:text-success-800;
        }

        &.uxf-button--color-error {
            @apply text-error-600 hover:text-error-800;
        }

        &.is-disabled {
            @apply text-gray-400;
        }
    }
}
