@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.uxf-button {
    @apply inline-flex items-center justify-center text-center rounded-lg before:rounded-lg font-semibold
        focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 relative cursor-pointer transition
        before:transition;

    &__text {
        @apply truncate;
    }

    &--full-width {
        @apply w-full flex flex-row justify-center;
    }

    &.is-disabled {
        @apply pointer-events-none;
    }

    &.is-loading {
        @apply pointer-events-none;

        &::after {
            animation: spinner 0.8s linear infinite;
            border-radius: 50%;
            border-right: 2px solid transparent;
            border-top: 2px solid;
            content: "";
            height: 20px;
            margin-left: 8px;
            width: 20px;
        }
    }

    &--size-xs {
        @apply px-2.5 py-1.5 text-xs;

        &.is-loading::after {
            height: 14px;
            width: 14px;
        }

        &.uxf-button--icon-button {
            @apply p-0 h-7 w-7;
        }
    }

    &--size-sm {
        @apply px-3 py-2 text-sm leading-4;

        &.is-loading::after {
            height: 16px;
            width: 16px;
        }

        &.uxf-button--icon-button {
            @apply p-0 h-8 w-8;
        }
    }

    &--size-default {
        @apply px-4 py-3 text-base;

        &.uxf-button--icon-button {
            @apply p-0 h-12 w-12;
        }
    }

    &--size-lg {
        @apply px-8 py-5 text-base;

        &.uxf-button--icon-button {
            @apply p-0 h-16 w-16;
        }
    }

    &--size-xl {
        @apply px-10 py-6 text-base;

        &.uxf-button--icon-button {
            @apply p-0 h-[72px] w-[72px];
        }
    }

    &--variant-outlined {
        @apply before:absolute before:pointer-events-none before:inset-0 before:border is-hoverable:before:border-2
            bg-transparent;

        :root .light & {
            @apply before:border-gray-300 is-hoverable:bg-primary-100 is-hoverable:before:border-primary-400
                focus-visible:ring-primary-500 focus-visible:ring-offset-white;

            &.is-disabled {
                @apply before:border-gray-100 text-gray-400;
            }
        }

        :root .dark & {
            @apply before:border-gray-300 is-hoverable:bg-white/10 focus-visible:ring-primary-500
                focus-visible:ring-offset-gray-900;

            &.is-disabled {
                @apply before:border-gray-700 text-gray-600;
            }
        }
    }

    &--variant-default {
        @apply text-white;

        &.uxf-button--color-default {
            :root .light & {
                @apply text-white bg-primary-500 is-hoverable:bg-primary-400 focus-visible:ring-primary-500;

                &.is-disabled {
                    @apply bg-gray-100 text-gray-400;
                }
            }

            :root .dark & {
                @apply text-white bg-primary-500 is-hoverable:bg-primary-400 focus-visible:ring-primary-500
                    focus-visible:ring-offset-gray-900;

                &.is-disabled {
                    @apply bg-gray-700 text-gray-400;
                }
            }
        }

        &.uxf-button--color-white {
            :root .light & {
                @apply bg-white is-hoverable:bg-gray-200 focus-visible:ring-gray-200;

                &.is-disabled {
                    @apply bg-gray-100 text-gray-400;
                }
            }

            :root .dark & {
                @apply bg-white is-hoverable:bg-gray-200 focus-visible:ring-gray-200;

                &.is-disabled {
                    @apply bg-gray-100 text-gray-400;
                }
            }

            @apply bg-gray-50 text-gray-700 is-hoverable:bg-gray-100 focus-visible:ring-gray-500;
        }

        &.uxf-button--color-success {
            :root .light & {
                @apply text-white bg-success-500 is-hoverable:bg-success-400 focus-visible:ring-success-500;

                &.is-disabled {
                    @apply bg-gray-100 text-gray-400;
                }
            }

            :root .dark & {
                @apply text-white bg-success-500 is-hoverable:bg-success-400 focus-visible:ring-success-500
                    focus-visible:ring-offset-gray-900;

                &.is-disabled {
                    @apply bg-gray-700 text-gray-400;
                }
            }
        }

        &.uxf-button--color-warning {
            :root .light & {
                @apply text-white bg-warning-500 is-hoverable:bg-warning-400 focus-visible:ring-warning-500;

                &.is-disabled {
                    @apply bg-gray-100 text-gray-400;
                }
            }

            :root .dark & {
                @apply text-white bg-warning-500 is-hoverable:bg-warning-400 focus-visible:ring-warning-500
                    focus-visible:ring-offset-gray-900;

                &.is-disabled {
                    @apply bg-gray-700 text-gray-400;
                }
            }
        }

        &.uxf-button--color-error {
            :root .light & {
                @apply text-white bg-error-500 is-hoverable:bg-error-400 focus-visible:ring-error-500;

                &.is-disabled {
                    @apply bg-gray-100 text-gray-400;
                }
            }

            :root .dark & {
                @apply text-white bg-error-500 is-hoverable:bg-error-400 focus-visible:ring-error-500
                    focus-visible:ring-offset-gray-900;

                &.is-disabled {
                    @apply bg-gray-700 text-gray-400;
                }
            }
        }
    }

    &--variant-text {
        @apply before:border-transparent;

        :root .light & {
            @apply is-hoverable:bg-gray-200 focus-visible:ring-primary-500 focus-visible:ring-offset-white;

            &.is-disabled {
                @apply text-gray-400;
            }
        }

        :root .dark & {
            @apply is-hoverable:bg-gray-800 focus-visible:ring-primary-500 focus-visible:ring-offset-gray-900;

            &.is-disabled {
                @apply text-gray-600;
            }
        }
    }
}
