.uxf-radio-group {
    &__option {
        @apply outline-none focus-visible:ring-offset-2 focus-visible:ring-2 focus-visible:rounded-lg;
    }

    &__option__wrapper {
        @apply flex justify-between;
    }

    &__option__label {
        @apply line-clamp-2;
    }

    &__label {
        @apply mb-2;
    }

    :root .light & {
        .uxf-radio-group__option {
            @apply focus-visible:ring-primary-500 focus-visible:ring-offset-white;
        }

        .uxf-radio-group__option__label {
            @apply text-gray-600;
        }

        .uxf-radio-group__option__wrapper {
            &.is-selected {
                .uxf-radio-group__option__label {
                    @apply text-gray-900;
                }
            }
        }
    }

    :root .dark & {
        .uxf-radio-group__option {
            @apply focus-visible:ring-primary-500 focus-visible:ring-offset-gray-900;
        }

        .uxf-radio-group__option__label {
            @apply text-white/80;
        }

        .uxf-radio-group__option__wrapper {
            &.is-selected {
                .uxf-radio-group__option__label {
                    @apply text-white;
                }
            }
        }
    }
}

.uxf-radio-group--list {
    .uxf-radio-group__options-wrapper {
        @apply divide-y;
    }

    .uxf-radio-group__option__wrapper {
        @apply items-center py-4;
    }

    .uxf-radio-group__option__label {
        @apply pr-4;
    }

    :root .light & {
        .uxf-radio-group__options-wrapper {
            @apply divide-gray-200;
        }

        .uxf-radio-group--list__option {
            @apply focus-visible:ring-primary-500 focus-visible:ring-offset-white;
        }
    }

    :root .dark & {
        .uxf-radio-group__options-wrapper {
            @apply divide-gray-800;
        }

        .uxf-radio-group--list__option {
            @apply focus-visible:ring-primary-500 focus-visible:ring-offset-gray-900;
        }
    }
}

.uxf-radio-group--radioButton {
    .uxf-radio-group__options-wrapper {
        @apply flex flex-wrap gap-2;
    }

    .uxf-radio-group__option__wrapper {
        @apply flex-col-reverse min-w-[112px] p-3 relative
            before:absolute before:inset-0 before:pointer-events-none before:border before:rounded-lg;

        &.is-selected {
            @apply before:border-2;
        }
    }

    .uxf-radio-group__option__label {
        @apply pt-4 text-sm;
    }

    :root .light & {
        .uxf-radio-group__option {
            @apply focus-visible:ring-primary-500;
        }

        .uxf-radio-group__option__wrapper {
            @apply before:border-gray-400;

            &.is-selected {
                @apply before:border-primary-500;
            }
        }
    }

    :root .dark & {
        .uxf-radio-group__option {
            @apply focus-visible:ring-primary-500 focus-visible:ring-offset-gray-900;
        }

        .uxf-radio-group__option__wrapper {
            @apply border-gray-400;

            &.is-selected {
                @apply before:border-primary-500;
            }
        }
    }
}

.uxf-radio-group--row {
    .uxf-radio-group__options-wrapper {
        @apply flex items-center space-x-10;
    }

    .uxf-radio-group__option__wrapper {
        @apply flex-row-reverse items-center;
    }

    .uxf-radio-group__option__label {
        @apply pl-2;
    }

    :root .light & {
        .uxf-radio-group--row__option {
            @apply focus-visible:ring-primary-500 focus-visible:ring-offset-white;
        }
    }

    :root .dark & {
        .uxf-radio-group--row__option {
            @apply focus-visible:ring-primary-500 focus-visible:ring-offset-gray-900;
        }
    }
}
