.uxf-checkbox-visual-wrapper {
    @apply outline-none leading-none rounded relative
        before:absolute before:leading-none before:-inset-[3px] before:rounded-md focus-visible:before:border-2;

    :root .light & {
        @apply focus-visible:before:border-primary-500;
    }

    :root .dark & {
        @apply focus-visible:before:border-primary-500;
    }
}

.uxf-checkbox {
    @apply shrink-0 flex items-center justify-center rounded  transition outline-none border
    ;

    &__wrapper {
        @apply flex items-center justify-between space-x-3;
    }

    &__label {
        @apply w-full;

        :root .light & {
            @apply text-gray-600;
        }

        :root .dark & {
            @apply text-gray-400;
        }
    }

    &__icon {
        @apply hidden;
    }

    &.is-selected {
        .uxf-checkbox__icon {
            @apply block;
        }
    }

    &--size-default {
        @apply h-4 w-4;

        .uxf-checkbox__icon {
            @apply w-2.5 h-2.5;
        }
    }

    &--size-lg {
        @apply h-6 w-6;

        .uxf-checkbox__icon {
            @apply w-4 h-4;
        }
    }

    &.is-focused {
        @apply ring-offset-2 ring-2;
    }

    :root .light & {
        @apply border-gray-400;

        &.is-selected {
            @apply bg-primary-500 border-transparent;

            .uxf-checkbox__icon {
                @apply text-white;
            }
        }

        &.is-disabled {
            @apply border-gray-200 pointer-events-none;

            &.is-selected {
                @apply bg-gray-200;
            }

            .uxf-checkbox__icon {
                @apply text-gray-400;
            }
        }

        &.is-readonly {
            &.is-selected {
                @apply bg-primary-500/60;
            }
        }

        &.is-invalid {
            @apply border-red-600;

            &.is-selected {
                @apply bg-red-600;
            }

            .uxf-checkbox__icon {
                @apply text-white;
            }
        }
    }

    :root .dark & {
        @apply border-gray-400;

        &.is-selected {
            @apply bg-primary-500 border-transparent;

            .uxf-checkbox__icon {
                @apply text-white;
            }
        }

        &.is-disabled {
            @apply border-gray-600 pointer-events-none;

            &.is-selected {
                @apply bg-gray-600;
            }

            .uxf-checkbox__icon {
                @apply text-gray-800;
            }
        }

        &.is-readonly {
            &.is-selected {
                @apply bg-primary-500/60;
            }
        }

        &.is-invalid {
            @apply border-red-600;

            &.is-selected {
                @apply bg-red-600;
            }

            .uxf-checkbox__icon {
                @apply text-white;
            }
        }
    }
}
