.uxf-textarea {
    &__wrapper {
        @apply rounded-md text-base border p-2 shadow-sm;

        :root .light & {
            @apply text-gray-900 border-gray-200;
        }

        :root .dark & {
            @apply text-gray-300 border-gray-700;
        }
    }

    &__element {
        @apply bg-transparent outline-none resize-none w-full;

        :root .light & {
            @apply placeholder:text-gray-400;
        }

        :root .dark & {
            @apply placeholder:text-gray-400;
        }
    }

    &.is-focused {
        .uxf-textarea__wrapper {
            @apply ring-2 ring-inset ring-offset-0;

            :root .light & {
                @apply ring-primary-500;
            }

            :root .dark & {
                @apply ring-primary-500;
            }
        }
    }

    &.is-disabled {
        @apply cursor-not-allowed;

        .uxf-textarea__wrapper {
            :root .light & {
                @apply bg-gray-300;
            }

            :root .dark & {
                @apply bg-gray-600;
            }
        }

        .uxf-textarea__element {
            @apply cursor-not-allowed;
        }
    }

    &.is-readonly {
        @apply cursor-text;

        .uxf-textarea__element {
            @apply cursor-not-allowed pointer-events-none;
        }

        .uxf-textarea__wrapper {
            @apply ring-0;

            :root .light & {
                @apply border-gray-300;
            }

            :root .dark & {
                @apply border-gray-500;
            }
        }
    }

    &.is-invalid {
        &.is-focused {
            .uxf-textarea__wrapper {
                @apply ring-0;
            }
        }

        .uxf-textarea__wrapper {
            @apply border-error-500;

            .uxf-textarea__element {
                :root .light & {
                    @apply text-error-500;
                }

                :root .dark & {
                    @apply text-error-500;
                }
            }
        }
    }

    input:-webkit-autofill {
        &,
        &:hover,
        &:focus {
            margin: 1px 0;

            :root .dark & {
                -webkit-box-shadow: inset 0 0 0 1000px theme("colors.gray.800");
                caret-color: white;
                -webkit-text-fill-color: theme("colors.gray.300");
            }

            :root .light & {
                -webkit-box-shadow: inset 0 0 0 1000px theme("colors.gray.100");
            }
        }
    }
}
