.uxf-time-picker {
    &__global {
        @apply flex items-center justify-between px-4 w-[180px];

        &__column {
            @apply flex flex-col items-center shrink-0;

            & > :nth-child(1),
            & > :nth-child(3) {
                @apply h-6;
            }
        }
    }

    &__hours,
    &__minutes {
        @apply grid grid-cols-4 place-items-center gap-1;
    }

    :root .light & {
        @apply text-gray-900;
    }

    :root .dark & {
        @apply bg-gray-900 text-white;
    }
}
