.uxf-chip {
    @apply inline-block rounded-lg py-1 px-2 text-xs h-fit;

    &__text {
        @apply truncate;
    }

    &--color-success {
        :root .light & {
            @apply text-success-600 bg-success-100;
        }

        :root .dark & {
            @apply text-white bg-success-600;
        }
    }

    &--color-warning {
        :root .light & {
            @apply text-warning-600 bg-warning-100;
        }

        :root .dark & {
            @apply text-white bg-warning-600;
        }
    }

    &--color-error {
        :root .light & {
            @apply text-error-600 bg-error-100;
        }

        :root .dark & {
            @apply text-white bg-error-600;
        }
    }
}
