.uxf-chip {
    @apply inline-flex items-center rounded py-0.5 px-2 text-xs font-medium max-w-full;

    &.has-button {
        @apply pr-1;
    }

    &--size-large {
        @apply text-sm rounded-md px-2.5;

        .uxf-chip__button {
            @apply h-4 w-4;
        }
    }

    &__text {
        @apply truncate;
    }

    &__button {
        @apply ml-1 inline-flex h-4 w-4 flex-shrink-0 items-center justify-center rounded;

        svg {
            @apply h-2 w-2;
        }
    }

    &--color-default {
        :root .light & {
            @apply text-gray-600 bg-gray-100;

            .uxf-chip__button {
                @apply hover:bg-gray-200;
            }
        }

        :root .dark & {
            @apply text-white bg-gray-600;

            .uxf-chip__button {
                @apply hover:bg-gray-700;
            }
        }
    }

    &--color-red {
        :root .light & {
            @apply text-red-600 bg-red-100;

            .uxf-chip__button {
                @apply hover:bg-red-200;
            }
        }

        :root .dark & {
            @apply text-white bg-red-600;

            .uxf-chip__button {
                @apply hover:bg-red-700;
            }
        }
    }

    &--color-yellow {
        :root .light & {
            @apply text-yellow-600 bg-yellow-100;

            .uxf-chip__button {
                @apply hover:bg-yellow-200;
            }
        }

        :root .dark & {
            @apply text-white bg-yellow-600;

            .uxf-chip__button {
                @apply hover:bg-yellow-700;
            }
        }
    }

    &--color-green {
        :root .light & {
            @apply text-green-600 bg-green-100;

            .uxf-chip__button {
                @apply hover:bg-green-200;
            }
        }

        :root .dark & {
            @apply text-white bg-green-600;

            .uxf-chip__button {
                @apply hover:bg-green-700;
            }
        }
    }

    &--color-blue {
        :root .light & {
            @apply text-blue-600 bg-blue-100;

            .uxf-chip__button {
                @apply hover:bg-blue-200;
            }
        }

        :root .dark & {
            @apply text-white bg-blue-600;

            .uxf-chip__button {
                @apply hover:bg-blue-700;
            }
        }
    }

    &--color-indigo {
        :root .light & {
            @apply text-indigo-600 bg-indigo-100;

            .uxf-chip__button {
                @apply hover:bg-indigo-200;
            }
        }

        :root .dark & {
            @apply text-white bg-indigo-600;

            .uxf-chip__button {
                @apply hover:bg-indigo-700;
            }
        }
    }

    &--color-purple {
        :root .light & {
            @apply text-purple-600 bg-purple-100;

            .uxf-chip__button {
                @apply hover:bg-purple-200;
            }
        }

        :root .dark & {
            @apply text-white bg-purple-600;

            .uxf-chip__button {
                @apply hover:bg-purple-700;
            }
        }
    }

    &--color-pink {
        :root .light & {
            @apply text-pink-600 bg-pink-100;

            .uxf-chip__button {
                @apply hover:bg-pink-200;
            }
        }

        :root .dark & {
            @apply text-white bg-pink-600;

            .uxf-chip__button {
                @apply hover:bg-pink-700;
            }
        }
    }
}
