body {
    @apply bg-neutral-100;
}

.uxf-layout {
    &__content {
        @apply flex flex-1 flex-col md:pl-64 pt-14;
    }
}

.uxf-app-bar {
    @apply fixed w-full top-0 left-0 flex items-center bg-primary-600 h-14;

    &__left-container {
        @apply flex items-center grow;
    }

    &__menu-button {
        @apply px-5 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 md:hidden;
    }

    &__logo {
        @apply md:px-2;
    }
}

.uxf-sidebar {
    @apply hidden md:fixed md:inset-y-0 md:flex md:w-64 md:flex-col bg-white;

    &__content {
        @apply flex flex-grow flex-col overflow-y-auto border-r border-r-gray-200 pt-14;
    }

    &__logo {
        @apply flex justify-center;
    }
}

.uxf-drawer {
    &__content {
        @apply flex flex-grow flex-col overflow-y-auto border-r border-r-gray-200;
    }

    &__logo {
        @apply flex justify-center;
    }
}
