.uxf-tabs {
    @apply w-full;

    &--grow {
        .uxf-tabs__tab {
            @apply grow;
        }
    }

    &__tab-list__wrapper {
        @apply w-full mb-6 overflow-auto;

        &--default {
            @apply relative before:absolute before:pointer-events-none before:bottom-0 before:w-full before:border-b-2;

            :root .light & {
                @apply before:border-b-gray-100;
            }

            :root .dark & {
                @apply before:border-b-gray-800;
            }
        }

        &--segmented {
            @apply rounded-lg;

            :root .light & {
                @apply bg-gray-100;
            }

            :root .dark & {
                @apply bg-gray-700;
            }
        }
    }

    &__tab-list {
        @apply flex items-center text-base font-semibold overflow-x-auto whitespace-nowrap w-full;

        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &--default {
            @apply py-1.5 px-1 space-x-2;
        }

        &--segmented {
            @apply p-1 space-x-1;
        }
    }

    &__tab {
        @apply inline-flex text-center items-center justify-center px-2 py-2 whitespace-nowrap transition-colors
            outline-none cursor-pointer is-disabled:pointer-events-none
            focus-visible:ring-2 focus-visible:ring-offset-1 overflow-visible;

        &--default {
            @apply relative rounded-lg before:absolute before:bottom-[-6px] before:w-full before:border-b-2
                before:opacity-0 before:transition;

            :root .light & {
                @apply text-lightMedium hover:bg-gray-100 focus-visible:ring-primary-500;
            }

            :root .dark & {
                @apply text-darkMedium hover:bg-gray-800 focus-visible:ring-primary-500
                    focus-visible:ring-offset-gray-900;
            }

            &.is-active {
                @apply before:opacity-100 ;

                :root .light & {
                    @apply text-lightHigh before:border-b-primary-500 hover:bg-transparent;
                }

                :root .dark & {
                    @apply text-darkHigh before:border-b-primary-500 hover:bg-transparent;
                }
            }

            &.is-disabled {
                :root .light & {
                    @apply text-lightLow;
                }

                :root .dark & {
                    @apply text-darkLow;
                }
            }
        }

        &--segmented {
            @apply rounded;

            :root .light & {
                @apply text-lightMedium bg-gray-100 hover:text-primary-600 hover:bg-primary-100
                    focus-visible:ring-primary-500 focus-visible:ring-offset-gray-100;
            }

            :root .dark & {
                @apply text-darkMedium bg-gray-700 hover:bg-gray-800 focus-visible:ring-primary-500
                    focus-visible:ring-offset-gray-700;
            }

            &.is-active {
                :root .light & {
                    @apply text-white bg-primary-500;
                }

                :root .dark & {
                    @apply text-white bg-primary-500;
                }
            }

            &.is-disabled {
                :root .light & {
                    @apply text-gray-400;
                }

                :root .dark & {
                    @apply text-gray-500;
                }
            }
        }
    }
}
