.uxf-flash-messages {
    @apply pointer-events-none fixed inset-0 z-50 flex items-end p-6;

    &__list-wrapper {
        @apply flex w-full max-w-sm flex-col items-center space-y-4 sm:items-end sm:justify-end;
    }
}

.uxf-flash-message {
    @apply pointer-events-auto rounded-2xl transition px-3 py-4 text-center shadow backdrop-blur
        is-hoverable:cursor-pointer;

    &--success {
        @apply bg-success-500 is-hoverable:bg-success-700 text-white;
    }

    &--error {
        @apply bg-error-500 is-hoverable:bg-error-700 text-white;
    }
}
