.uxf-date-picker-input {
    @apply w-full rounded-lg text-base;

    &__element {
        @apply w-full bg-transparent outline-none;

        :root .light & {
            @apply text-gray-900 placeholder:text-gray-400;
        }

        :root .dark & {
            @apply text-gray-300 placeholder:text-gray-400;
        }
    }

    &__left-element {
        @apply mr-2;
    }

    &__right-element {
        @apply ml-2;
    }

    &__wrapper {
        height: theme("inputSize.default");

        @apply flex items-center w-full rounded-lg border px-4;

        :root .light & {
            @apply bg-gray-100 text-gray-900 border-gray-200;
        }

        :root .dark & {
            @apply bg-gray-800 text-gray-300 border-gray-700;
        }
    }

    &__popover {
        @apply absolute left-0 z-dropdown max-w-md rounded-lg border p-2 shadow-xl overflow-y-auto;

        :root .light & {
            @apply bg-white border-gray-500;
        }

        :root .dark & {
            @apply bg-gray-900 border-2 border-gray-700;
        }
    }

    &--has-right-addon {
        .uxf-date-picker-input__wrapper {
            @apply rounded-r-none;
        }
    }

    &.is-focused {
        .uxf-date-picker-input__wrapper {
            @apply ring-1 ring-inset ring-offset-0;

            :root .light & {
                @apply border-primary-500 ring-primary-500;
            }

            :root .dark & {
                @apply border-primary-500 ring-primary-500;
            }
        }
    }

    &.is-disabled {
        @apply cursor-not-allowed;

        .uxf-date-picker-input__wrapper {
            :root .light & {
                @apply text-gray-500 bg-gray-300;
            }

            :root .dark & {
                @apply text-gray-500 bg-gray-600;
            }
        }

        .uxf-date-picker-input__element {
            @apply cursor-not-allowed;
        }
    }

    &.is-readonly {
        @apply cursor-text;

        .uxf-date-picker-input__element {
            @apply cursor-text;
        }

        .uxf-date-picker-input__wrapper {
            @apply ring-0;

            :root .light & {
                @apply bg-gray-200 text-gray-700 border-gray-300;
            }

            :root .dark & {
                @apply bg-gray-800 text-gray-300 border-gray-500;
            }
        }
    }

    &.is-invalid {
        &.is-focused {
            .uxf-date-picker-input__wrapper {
                :root .light & {
                    @apply ring-error-500 border-error-500;
                }

                :root .dark & {
                    @apply ring-error-500 border-error-500;
                }
            }
        }

        .uxf-date-picker-input__wrapper {
            @apply text-error-500 border-error-500 placeholder:text-error-300;

            .uxf-date-picker-input__element {
                :root .light & {
                    @apply border-gray-300 text-error-500;
                }

                :root .dark & {
                    @apply border-gray-500 text-error-500;
                }
            }
        }
    }
}
