.uxf-date-picker {
    &__month-select,
    &__year-select,
    &__decade-select {
        @apply flex items-center justify-between px-4 w-[320px] sm:w-[360px];
    }

    &__month-calendar,
    &__year-calendar,
    &__decade-calendar {
        @apply grid place-items-center w-full px-4 pt-4 text-center;
    }

    &__month-calendar {
        @apply grid-cols-7 gap-0.5;
    }

    &__year-calendar {
        @apply grid-cols-3 sm:grid-cols-4 gap-2;
    }

    &__decade-calendar {
        @apply grid-cols-3 gap-2;
    }

    &__weekday-label {
        @apply uppercase pb-2;
    }

    &__decade-label {
        @apply font-semibold;
    }

    &__cell {
        @apply p-1 transition relative rounded-full outline-none before:absolute before:pointer-events-none
            before:rounded-full before:-inset-1 focus-visible:before:border-2;

        &__day {
            @apply w-9 h-9;
        }

        &__month {
            @apply w-full;
        }

        &__year {
            @apply w-full;
        }
    }

    :root .light & {
        @apply text-gray-900;

        .uxf-date-picker__cell {
            @apply hover:bg-gray-200 focus-visible:before:border-primary-500;
        }

        .uxf-date-picker__cell__day--today {
            @apply bg-primary-200 hover:bg-primary-300;
        }

        .uxf-date-picker__cell__day--selected {
            @apply bg-primary-500 text-white hover:bg-primary-500;
        }

        .uxf-date-picker__cell__day--not-current-month {
            @apply text-gray-400;
        }
    }

    :root .dark & {
        @apply bg-gray-900 text-white;

        .uxf-date-picker__cell {
            @apply hover:bg-gray-700 focus-visible:before:border-primary-500;
        }

        .uxf-date-picker__cell__day--today {
            @apply bg-primary-400/50 hover:bg-primary-400/60;
        }

        .uxf-date-picker__cell__day--selected {
            @apply bg-primary-500 text-white hover:bg-primary-500;
        }

        .uxf-date-picker__cell__day--not-current-month {
            @apply text-gray-600;
        }
    }
}
