.uxf-radio {
    @apply flex shrink-0 items-center justify-center border rounded-full transition focus-visible:ring-2;

    &__label {
        @apply sr-only;
    }

    &__inner {
        @apply rounded-full opacity-0 transition;
    }

    &.is-selected {
        .uxf-radio__inner {
            @apply opacity-100;
        }
    }

    &--size-default {
        @apply h-4 w-4;

        .uxf-radio__inner {
            @apply w-1.5 h-1.5;
        }
    }

    &--size-lg {
        @apply h-6 w-6;

        .uxf-radio__inner {
            @apply w-2.5 h-2.5;
        }
    }

    :root .light & {
        @apply border-gray-400 focus-visible:ring-primary-500;

        &.is-selected {
            @apply bg-primary-500 border-none;

            .uxf-radio__inner {
                @apply bg-white;
            }
        }

        &.is-disabled {
            @apply border-gray-200 pointer-events-none;

            &.is-selected {
                @apply bg-gray-200;
            }

            .uxf-radio__inner {
                @apply bg-gray-400;
            }
        }

        &.is-invalid {
            @apply border-red-600;

            &.is-selected {
                @apply bg-red-600;
            }

            .uxf-radio__inner {
                @apply bg-white;
            }
        }
    }

    :root .dark & {
        @apply border-gray-400 focus-visible:ring-primary-500 focus-visible:ring-offset-gray-900;

        &.is-selected {
            @apply bg-primary-500 border-none;

            .uxf-radio__inner {
                @apply bg-white;
            }
        }

        &.is-disabled {
            @apply border-gray-600 pointer-events-none;

            &.is-selected {
                @apply bg-gray-600;
            }

            .uxf-radio__inner {
                @apply bg-gray-800;
            }
        }

        &.is-invalid {
            @apply border-red-600;

            &.is-selected {
                @apply bg-red-600;
            }

            .uxf-radio__inner {
                @apply bg-white;
            }
        }
    }
}
