.uxf-badge {
    @apply inline-flex items-center justify-center font-bold;

    &--size-small {
        @apply h-6 min-w-[24px] text-sm rounded-[12px] px-1.5;
    }

    &--size-medium {
        @apply h-8 min-w-[32px] text-base rounded-[16px] px-2;
    }

    &--size-large {
        @apply h-10 min-w-[40px] text-lg rounded-[20px] px-2;
    }

    :root .light & {
        @apply text-white bg-primary-500;
    }

    :root .dark & {
        @apply text-gray-900 bg-white;
    }
}
