.uxf-combobox {
    @apply relative;

    &__button {
        @apply relative flex h-12 w-full cursor-default flex-row items-center rounded-lg py-3 px-4 text-left
            outline-none before:absolute before:inset-0 before:pointer-events-none before:border before:rounded-lg;

        :root .light & {
            @apply bg-gray-100 text-lightHigh before:border-gray-200;

            .is-empty {
                @apply text-lightLow;
            }
        }

        :root .dark & {
            @apply bg-gray-800 text-darkHigh before:border-gray-700;

            .is-empty {
                @apply text-darkLow;
            }
        }

        &.is-focused {
            @apply ring-2;

            :root .light & {
                @apply before:border-none ring-primary-500;
            }

            :root .dark & {
                @apply ring-primary-500;
            }
        }

        &.is-invalid {
            @apply ring-1;

            :root .light & {
                @apply ring-error-500 text-error-500;

                .uxf-combobox__input {
                    @apply placeholder:text-error-500;
                }
            }

            :root .dark & {
                @apply ring-error-500 text-error-500;

                .uxf-combobox__input {
                    @apply placeholder:text-error-500;
                }
            }
        }
    }

    &__input {
        @apply flex-grow bg-inherit focus-visible:ring-0 focus-visible:border-0 focus-visible:outline-none;

        :root .light & {
            @apply placeholder:text-lightLow;
        }

        :root .dark & {
            @apply placeholder:text-darkLow;
        }
    }

    &__button-icon {
        @apply transition duration-300;

        :root .light & {
            @apply text-lightMedium;
        }

        :root .dark & {
            @apply text-darkMedium;
        }

        &.is-open {
            @apply -scale-y-100;
        }
    }

    input:-webkit-autofill {
        &,
        &:hover,
        &:focus {
            margin: 1px 0;

            :root .dark & {
                -webkit-box-shadow: inset 0 0 0 1000px theme("colors.gray.800");
                caret-color: white;
                -webkit-text-fill-color: theme("colors.gray.300");
            }

            :root .light & {
                -webkit-box-shadow: inset 0 0 0 1000px theme("colors.gray.100");
            }
        }
    }
}
