.uxf-checkbox-button {
    @apply shrink-0 inline-flex items-center justify-between rounded-lg py-3 px-4 space-x-4 transition outline-none
        relative before:absolute before:inset-0 before:border before:rounded-lg before:border-transparent
        before:transition focus-visible:ring-offset-2 focus-visible:ring-2;

    &__icon {
        @apply w-5 h-5 p-1 bg-white text-transparent rounded relative before:absolute before:inset-0 before:border
            before:rounded before:transition;
    }

    :root .light & {
        @apply bg-gray-200 focus-visible:ring-primary-500;

        .uxf-checkbox-button__icon {
            @apply before:border-gray-600;
        }

        .uxf-checkbox-button__label {
            @apply text-gray-600;
        }

        &.is-selected {
            @apply bg-primary-500;

            .uxf-checkbox-button__icon {
                @apply text-primary-500 before:border-transparent;
            }

            .uxf-checkbox-button__label {
                @apply text-white;
            }
        }

        &.is-disabled {
            @apply bg-gray-100 pointer-events-none;

            .uxf-checkbox-button__icon {
                @apply before:border-gray-300;
            }

            &.is-selected {
                @apply bg-gray-300;

                .uxf-checkbox-button__icon {
                    @apply text-gray-400 before:border-transparent;
                }

                .uxf-checkbox-button__label {
                    @apply text-white;
                }
            }
        }

        &.is-invalid {
            @apply before:border-red-600;
        }
    }

    :root .dark & {
        @apply bg-gray-800 focus-visible:ring-primary-500 focus-visible:ring-offset-gray-900;

        .uxf-checkbox-button__icon {
            @apply before:border-transparent;
        }

        .uxf-checkbox-button__label {
            @apply text-gray-400;
        }

        &.is-selected {
            @apply text-white bg-primary-500;

            .uxf-checkbox-button__icon {
                @apply text-primary-500 before:border-transparent;
            }

            .uxf-checkbox-button__label {
                @apply text-white;
            }
        }

        &.is-disabled {
            @apply bg-gray-800 pointer-events-none;

            &.is-selected {
                @apply bg-gray-600;

                .uxf-checkbox-button__icon {
                    @apply text-gray-800;
                }
            }
        }

        &.is-invalid {
            @apply before:border-red-600;
        }
    }
}
