.uxf-raster-image {
    @apply block w-full;

    &--contain,
    &--cover {
        @apply relative;
    }

    &__img {
        @apply block w-full h-auto;

        &--contain {
            @apply absolute inset-0 h-full object-contain;
        }

        &--cover {
            @apply absolute inset-0 h-full object-cover;
        }
    }
}
