.uxf-dropdown {
    @apply absolute z-10 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black
        ring-opacity-5 focus:outline-none sm:text-sm;

    &--bottom {
        @apply mt-1;
    }

    &--top {
        @apply -translate-y-1;
    }

    &__item {
        @apply relative cursor-default select-none py-3 px-4 text-gray-800;

        &.is-active {
            @apply bg-primary-500 text-white;
        }
    }

    &__items {
        @apply absolute flex flex-col border border-black bg-white;
    }
}
