.uxf-multi-combobox {
    @apply relative;

    &__button {
        @apply relative flex flex-row w-full cursor-default flex-wrap items-center rounded-lg pl-4 pr-8 pb-2 text-left
            outline-none before:absolute before:inset-0 before:pointer-events-none before:border before:rounded-lg;

        .uxf-icon {
            @apply absolute top-3 right-4 h-4;
        }

        :root .light & {
            @apply bg-white text-lightHigh before:border-gray-200;

            .is-empty {
                @apply text-lightLow;
            }
        }

        :root .dark & {
            @apply bg-gray-800 text-darkHigh before:border-gray-700;

            .is-empty {
                @apply text-darkLow;
            }
        }

        &.is-focused {
            @apply ring-2;

            :root .light & {
                @apply before:border-none ring-primary-500;
            }

            :root .dark & {
                @apply ring-primary-500;
            }
        }

        &.is-invalid {
            @apply ring-1;

            :root .light & {
                @apply ring-error-500 text-error-500;

                .uxf-combobox__input {
                    @apply placeholder:text-error-500;
                }
            }

            :root .dark & {
                @apply ring-error-500 text-error-500;

                .uxf-combobox__input {
                    @apply placeholder:text-error-500;
                }
            }
        }
    }

    &__input {
        @apply bg-inherit focus-visible:ring-0 focus-visible:border-0 focus-visible:outline-none;

        :root .light & {
            @apply placeholder:text-lightLow;
        }

        :root .dark & {
            @apply placeholder:text-darkLow;
        }
    }
}
