.uxf-select {
    @apply relative;

    &__button {
        height: theme("inputSize.default");

        @apply relative flex w-full cursor-default flex-row items-center rounded-lg px-4 text-left shadow-sm
            outline-none focus-visible:ring-2 before:absolute before:inset-0 before:pointer-events-none before:border
            before:rounded-lg;

        .uxf-icon {
            @apply h-3;
        }

        :root .light & {
            @apply bg-white text-lightHigh before:border-gray-200 focus-visible:before:border-none
                focus-visible:ring-primary-500;

            .is-empty {
                @apply text-lightLow;
            }
        }

        :root .dark & {
            @apply bg-gray-800 text-darkHigh before:border-gray-700 focus-visible:ring-primary-500;

            .is-empty {
                @apply text-darkLow;
            }
        }

        &.is-invalid {
            @apply ring-1;

            :root .light & {
                @apply ring-error-500 text-error-500;

                .is-empty {
                    @apply text-error-500;
                }
            }

            :root .dark & {
                @apply ring-error-500 text-error-500;

                .is-empty {
                    @apply text-error-500;
                }
            }
        }
    }

    &__button-text {
        @apply flex-grow;
    }

    &__button-icon {
        @apply transition duration-300;

        :root .light & {
            @apply text-lightMedium;
        }

        :root .dark & {
            @apply text-darkMedium;
        }

        &.is-open {
            @apply -scale-y-100;
        }
    }
}
